<div class="main-div">

    <mat-card>

        <mat-card-title style="color: blue;">Start The Movie DB Experience</mat-card-title>

        <mat-card-subtitle style="margin-top: 10px; color: chocolate;">In order to begin your experience, we need you to approve the 3rd Party App</mat-card-subtitle>

        <br>

        <button mat-raised-button style="background-color: green; color: white;" (click)="generateToken()">Approve Now!</button>

    </mat-card>

</div>

<br>

<div class="footer">
    <p>The Movie DB 2021. @All rights reserved</p>
</div>
